<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ai</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<div style="width:100%; background:#301E67; display:flex;">
<h1 align="left" style="margin:0px;margin-left:10vh;padding:20px;color:white;font-family:Arial;">AI-TALK</h1>
     <p style="margin:0px;margin-left:10vh;margin-top:1.5vh;padding:20px;color:white;font-family:Arial">Talk to AI and generate AI art</p>
    </div>
<div style="display:flex;">
<div class="ask">
    <p style="margin-left:20px;">What do you wanna ask?</p>
    <form style="margin-left:20px;" action="/ask" method="POST">
        <input type="text" class="prompt" placeholder="type here" name="content">
        <input type="submit" class="send" value="Ask">
    </form>
    {% if content %}
    <div>
    <p>{{content}}</p>
        </div>
    {% endif %}
    <div class="answer">
        {% if data %}
        <p>{{data}}</p>
        {% else %}
        <p>Ask me anything</p>
        {% endif %}
    </div>
</div>

<div class="image">
    <div style="display:inline;">
    <p>Enter prompt:</p>
    <form action="/image" method="POST">
        <input type="text" class="prompt" placeholder="type here" name="prompt">
        <br><br>
        <input type="submit" class="send" value="Generate art">
    </form>
        {% if prompt %}
        <p>{{prompt}}</p>
        {% endif %}
        </div>
    <div class="display-img">
        {% if image %}
        <img class="ai-img" src="{{image}}" >
        {% else %}
        <p style="margin:20px;">What should I generate?</p>
        {% endif %}
    </div>
</div>
</div>
</body>
</html>